<!-- 	<nav class="mainNav">
		<div class="l-center">
			<a href="#" class="mainNav-item is-active">Goal</a>
			<a href="#" class="mainNav-item">Activity</a>
			<a href="#" class="mainNav-item">Member</a>
			<a class="mainNav-logo">CodeMate</a>
			<a href="#" class="mainNav-item">Support</a>
			<a href="#" class="mainNav-item">Inquiry</a>
			<a href="#" class="mainNav-item">Join us</a>
		</div>
	</nav> -->